body {
    background: #000;
    color: #a052d9;
}

.SiteInfInpt {
    margin-bottom : 20px;
    align : center;
    display : flex;
    justify-content: center;
    align-content: center;
}

.areaInpt {
    width : 300px;
    height : auto;
}

.dynamic_textarea {
    text-align: center;
    align : center;
    display : flex;
    justify-content: center;
    align-content: center;
    padding: 0px 5px 0px 5px;
    width: 170px;
    height: 45px;
    color: #a052d9;
    background: #000;
}

.dynamic_select {
    height : auto;
    text-align: center;
    align : center;
    display : flex;
    justify-content: center;
    align-content: center;
    width: 170px;
    height: auto;
    color: #a052d9;
    background: #000;
}

.buttons {
    text-align: center;
    padding : 5px;
}

.error-message {
    color: red;
    background-color: #000;
    font-weight: bold;
    display: flex;
    width: auto;
    height: auto;
}

.hidden {
    display: none;
}