

.e-p_center_purple {
    text-align: center;
    color: #4B0082;
}

.e-p_right_purple {
    text-align: right;
    color: #4B0082;
}

.e-p_left_purple {
    text-align: left;
    color: #4B0082;
}

.e-h1_purple {
    align-text: center;
    color: #4B0082;
}