@media all and (min-width: 30em) {
    div.titleInput, div.rubricInput, div.radios, div.checkboxInput {
        margin-left: 12em;
    }

    label {
        float: left;
        clear: left;
    }

    div.radios label {
        display: inline;
        clear: none;
        float: none;
    }

    div.checkboxInput {
        display: block;
    }

    select {
        width: 15em !important;
    }
}

.radios label {
    display: block;
}

input[type="text"], textarea, select{
    width: 100%;
}

.checkboxInput {
    display: inline-block;
    margin: 0 0 0 0;
}

div {
    margin: 5px 5px 5px 0;
}