* {
    margin: 0;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    text-align: justify;
}

.text-block {
    width: 100%;
}

.image-block {
    position: relative;
    width: 400px;
    height: 423px;
    margin: 0 auto;
}

.image-block img {
    position: absolute;
}

.img1 {
    top: 40px;
    left: 0;
    z-index: 1;
}
.img3 {
    bottom: 0;
    left: 100px;
    z-index: 1;
}
.img2 {
    top: 40px;
    right: 0;
    z-index: 1;
}
.img4 {
    left: 72px; top: 83px;
    z-index: 2;
}

.img1:hover, .img2:hover, .img3:hover {
    z-index: 3;
}